* {
    background-color: rgb(243, 170, 170);
    font-family: 'Lato', sans-serif;
}

h1{
    text-align: center;
    color: rgb(237, 71, 71);
}

#imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    color: rgb(190, 41, 24);

}

h2, h3, p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    max-width: 50%;
}

#ecopy {
    width: 50%;
    margin: 0 auto; 
    padding: 10px; 
    text-align: center; 
    color: rgb(0, 0, 0);
}


.saiba-mais {
    text-align: center;
    margin-top: 20px;
}

.saiba-mais a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #b04444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.saiba-mais a:hover {
    background-color: #d55858;
}

#imagem {
    text-align: center;
}